body {
 margin-top:80px;
 font-size:12pt;
 background-color:#FFFFF3
}
 
#boxesContainer {
  margin-left: auto;
  margin-right: auto;
  width:70%
}
 
.box {
  vertical-align: top;
  border: 3px solid blue;
  display: inline-block;
  width: 140px;
  text-align: center;
  margin: 10px;
  padding:2px;
}
h2{
  font-size:8pt;
  text-align: left;
  color:grey;
 }
p{
  word-wrap:break-word;
}
				